/* Image upload */
.App {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #uploaded-photo {
    width: 300px;
    margin: 10px;
  }

  #img-upload-btn {
      width: auto;
      height: 50px;
  }

  #img-file {
      width: auto;
      height: 50px;
  }
