body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/* /Users/saritaradia/Desktop/Projects/acebook-team-bikini-bottom/frontend/src/components/signupForm/SignUpForm.js */